@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Playwrite GB S", serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
   background: url(../image/bg.jpg) no-repeat center;
   background-size: cover;
}

.register{
    width: 600px;
    max-width: 100%;
    text-align: center;
    border-radius: 25px;
    background: rgba(0,0,0,0.6);

    
}
form{
    padding: 40px;
}
.logo{
    margin-bottom: 25px;
    font-size: 35px;
    color: #ffffff;
    padding: 10px;
}
.inbox{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    background: #000000;
    color: #ffffff;
    width: 48px;
    height: 46px;
    line-height: 40px;
    padding: 15px;
    text-align: center;
}
.form_info{
    width: 90%;
    padding: 10px;
    background: transparent;
    border: 2px solid silver;
    outline: none;
    color: #000000;
    border: 1px solid silver;
    caret-color: #00ff88;
    color: #ffffff;
}
.form_info::placeholder{
color: #bdb7b7;
}
.form_info:focus{
    border: 1px solid #01fa61;
}
.form_btn{
    margin-top: 35px;
    margin-bottom: 25px;
}
.re_btn{
    width: 50%;
    background: #000000;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.re_btn:hover{
    background: #ffffff;
    color: #000;
}
.form_link{
    color: #ffffff;
}
.log_ink{
    color: #ffffff;
}